/* INDEX SPECIFIC */

#landing-container {
	background: url('../img/mazerunner.jpg');
	width: 100%;
	height: 100%;
}

#landing-overlay {
	background-color: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

#logo-container {
	position: absolute;
	top: 100%;
	right: 0%;
	margin-top: -200px;
	margin-right: 50px; }

#logo {
	background-color: #FED82E;
	display: inline-block;;
	color: #000;
	font-weight: 800;
	font-size: 96pt;
	padding-left: 30px;
	padding-right: 30px;
}

#tagline {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12pt;
	line-height: 20pt;
	display: inline-block;
	color: #FED82E;
	text-align: right;
	letter-spacing: 3px;
}

#videocontainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#mainvideo {
	float: left;
	padding: 20px;
	padding-left: 0;
	padding-top: 0;
}

.subvideo {
	margin-top: 10px;
}

.stats {
	float: left;
	width: 255px;
	margin-right: 10px;
}

.stat-header {
	display: block;
}

table, tr, td {
	border: none;
	padding-top: 10px;
	font-size: 10pt;
}

table {
	width: 255px;
}

.t {
	font-weight: normal;
	text-align: right;
}

.poster {
	float: left;
	width: 100px;
	margin: 10px;
	margin-top: 0;
}

h1 {
	margin-right: 10px;
}
