h4 {
	font-weight: normal;
	font-size: 10pt;
	margin-bottom: 5 px;
	line-height: 12pt;
	margin-left: 10px;
}

.newsitem {
	margin-top: 20px;

}

.img-float {
	float: left;
	margin: 15px;
}

.headline {
	width: 200px;
	height: auto;
	float: left;
	background-color: #FED82E;
	padding: 10px;
}

.news {
	padding: 10px;
}

div#news-container {
    max-width: 1300px;
    background: white;
    margin: 0px auto;
    box-shadow: inset 0px 0px 20px 5px rgba(75,75,75,0.75);
}

.news-spacer {
    height: 60px;
}