body {
    background: #333;
}

#search-content {
    max-width: 1320px;
    margin: 0px auto;
    margin-top: 72px;
    background: white;
    box-shadow: inset 0px 0px 20px 5px rgba(75,75,75,0.75);
}

.category-title {
	background-color: #FED82E;
	padding: 4px 12px;
	text-transform: uppercase;
	font-weight: 800; /* Make sure to use the number and not just bold, bold for Open Sans is only 700 */
	font-size: 36pt;
	display: inline-block;
	margin: 12px 0px;
}

.result-container {
    display: inline-block;
    width: calc(1080px / 6);
    padding: 24px 16px;
    margin: 0px -2px;
}

.result-background {
    background: #E0E0E0;
}

.alt-background {
    background: #EFEFEF;
    margin: 0px -2px;
}

.result-image-container {
    height: 240px;
}

img.result-image {
    height: 100%;
}

.result-title {
    font-weight: 700;
    font-size: 12pt;
}

.result-subtitle {
    font-style: italic;
    font-size: 9pt;
}

.result-text {
    font-size: 8pt;
}

.result-list-container {
    margin: 12px 0px;
}

div#search-input {
    text-align: center;
    font-weight: 700;
    font-size: 16pt;
    padding-top: 60px;
}

.more-results-link {
	background-color: #FED82E;
	padding: 4px 12px;
	font-weight: 800; /* Make sure to use the number and not just bold, bold for Open Sans is only 700 */
	font-size: 14pt;
    text-align: right;
	margin-left: auto;
	right: 250px;
	margin-top: 12px;
	width: 250px;
}
.category-container {
    width: 1080px;
    margin: 0px auto;
}

.category-spacer {
    height: 72px;
}