

/* #FED82E is the precide shade of yellow we'll be using. */

/* UNIVERSAL CSS */

/*Importing OPEN SANS, the font we're using */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);


html, body {
	font-family: Open Sans;
	margin: 0px;
	background: #333;
	-webkit-backface-visibility: hidden;
}

div {
	display: block;
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #FED82E;
	padding: 10px;
	border-bottom: 1px #000 solid;
}

#nav a:link, #nav a:visited {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10pt;
	font-weight: 800;
	margin: 15px;
	color: #000;
}

#nav a:hover {
	border-top: 2px #000 solid;
}

/* large headers */
h1 {
	background-color: #FED82E;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	font-weight: 800; /* Make sure to use the number and not just bold, bold for Open Sans is only 700 */
	font-size: 36pt;
	display: inline-block;
	margin-bottom: -10px;
}

/*smaller headers */

h2 {
	background-color: #FED82E;
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 24pt;
	display: inline-block;
	margin-bottom: -8px;
	line-height: 30px;
}

/* sub headers */

h3 {
	font-weight: 700;
	font-style: italic;
	font-size: 14pt;
	margin: 10px;
	display: inline-block;

}

#content {
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
	line-height: 18pt;
	font-weight: 400;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #666;
}

a:hover {
	color: #000;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-weight: 400;
	font-size: 9pt;
	color: #AAA;
}

/*  FOR THE SEARCH POPUP */

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: inset 0px 0px 20px 5px rgba(75,75,75,0.75);
}

.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* For the actual search */

form {
	width: 500px;
	text-align: center;
}

.textfield {
	width: 500px;
	height: 50px;
}


/* BORDER */

#content-gradient-divider {
	height: 64px;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%);
}

#content-divider {
	height: 16px;
	background: #333;
}

div#content-container {
    margin: 0px auto;
    max-width: 1300px;
    background: white;
    box-shadow: inset 0px 0px 20px 5px rgba(100,100,100,0.5);
    height: 1286px;
}

.main-title-spacer {
	height: 32px;
}