#theaters-content {
    max-width: 960px;
    margin: 60px auto;
    margin-bottom: 0px;
    font-weight: 400;
}

#page-title {
	background-color: #FED82E;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	font-weight: 800; /* Make sure to use the number and not just bold, bold for Open Sans is only 700 */
	font-size: 28pt;
	display: inline-block;
	margin-bottom: -10px;
}

div#page-title-container {
    max-width: 349px;
}

div#page-subtitle {
    text-align: right;
    margin-top: 12px;
    font-weight: 700;
}

.movie-image-container {
    height: 320px;
    float: left;
    margin: 12px 0px;
}

img.movie-image {
    height: 100%;
}

.movie-title {
	font-weight: 700;
	font-size: 24pt;
	margin: 18px;
	display: inline-block;

}

.movie-info {
    position: relative;
    left: 18px;
    line-height: 24px;
}

.button-link {
	background-color: #FED82E;
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 16pt;
	display: inline-block;
	margin-right: 12px;
	margin-bottom: -8px;
}


.buttons-container {
    margin: 24px 0px;
    position: relative;
    left: 18px;
}

.movie-lower {
    clear: both;
    margin-top: 24px;
}

.movie-container {
    margin: 36px 0px;
}

div#theaters-content-container {
    width: 1060px;
    margin: 0px auto;
    background: white;
    box-shadow: inset 0px 0px 20px 5px rgba(75,75,75,0.75);
}

#theaters-divider {
	height: 32px;
}

#theaters-bottom {
	height: 24px;
}